@model Week14.Models.BookingModel

@{
    ViewData["Title"] = "Booking Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Person Details</th>
            </tr>
            <tr>
                <td>First Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.FirstName)
                </td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.LastName)
                </td>
            </tr>
           <tr>
                <td>Doctor: </td>
                <td>
                    @Html.DropDownListFor(m => m.Doctor, new List<SelectListItem>
                { new SelectListItem{Text="Dentist", Value="D"},
                new SelectListItem{Text="Pediatrician", Value="P"},
                new SelectListItem{Text="Cardiologist", Value="C"}}, "Please select")
                </td>
            </tr>
           @*  <tr>
                <td>Doctor: </td>
                <td>
                    @Html.TextBoxFor(m => m.Doctor)
                </td>
            </tr> *@
            <tr>
                <td>Date: </td>
                <td>
                    @Html.EditorFor(m => m.Time, new { htmlAttributes = new { type = "date" } })
                </td>
            <tr>
                <td>Time: </td>
                <td>
                    @Html.EditorFor(m => m.Time, new { htmlAttributes = new { type = "time" } })
                </td>
            </tr>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    }
</body>
</html>